<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ content_for_header }}

    {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    >

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/35200d6a96.js" crossorigin="anonymous"></script>

    <!-- Alpine.js dropdown Animation -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  </head>

  <body>
    {% section 'navbar' %}
    {{ content_for_layout }}
    {% section 'footer' %}
  </body>
</html>
