<div class="md:py-20 py-10">
  <div class="container">
    <div>
      <h2 class="font-oswald font-bold uppercase text-5xl md:text-[128px]">Meet the Minds Behind the Mission</h2>
    </div>
    <div class="mt-10 md:mt-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4 auto-rows-[400px] lg:auto-rows-[324px]">
      <div
        class="bg-cover bg-top p-4 hover:grayscale-0 flex flex-col justify-end relative md:grayscale hover:-translate-y-0.5 transition-all duration-300"
        style="background-image: url({{"kendall.webp" | asset_url}});"
      >
        <div class="absolute w-full bottom-0 left-0 bg-gradient-to-t from-white via-transparent to-transparent h-50"></div>
        <div class="text-black z-10 relative">
          <h3 class="title-main text-xl">Kendall Davis</h3>

          <p>
            Paid Media Director <br>
            <span class="text-sm">(Advertising Strategy & Management)</span>
          </p>
        </div>
      </div>
      <div class="lg:block hidden xl:col-span-2"></div>
      <div
        class="bg-cover bg-top p-4 hover:grayscale-0 flex flex-col justify-end relative md:grayscale hover:-translate-y-0.5 transition-all duration-300"
        style="background-image: url({{"matthew.webp" | asset_url}});"
      >
        <div class="absolute w-full bottom-0 left-0 bg-gradient-to-t from-white via-transparent to-transparent h-50"></div>
        <div class="text-black z-10 relative">
          <h3 class="title-main text-xl">Matthew Miller</h3>

          <p>
            Director of Production <br>
            <span class="text-sm">(Creative & On-Set Operations)</span>
          </p>
        </div>
      </div>
      <div class="xl:block hidden"></div>
      <div class="lg:block hidden xl:row-span-2"></div>
      <div
        class="bg-cover xl:row-span-2 xl:col-span-2 bg-top p-4 hover:grayscale-0 flex flex-col justify-end md:grayscale hover:-translate-y-0.5 transition-all duration-300 relative"
        style="background-image: url({{"luis.webp" | asset_url}});"
      >
        <div class="absolute w-full bottom-0 left-0 bg-gradient-to-t from-white via-transparent to-transparent h-50"></div>
        <div class="text-black z-10 relative">
          <h3 class="title-main text-xl">Luis Ponce</h3>

          <p>
            Founder & Chief Strategist <br>
            <span class="text-sm">(Paid Media & Organic Social)</span>
          </p>
        </div>
      </div>
      <div class="lg:block hidden xl:row-span-2"></div>
      <div
        class="bg-cover bg-top p-4 hover:grayscale-0 flex flex-col justify-end md:grayscale relative hover:-translate-y-0.5 transition-all duration-300"
        style="background-image: url({{"josh.webp" | asset_url}});"
      >
        <div class="absolute w-full bottom-0 left-0 bg-gradient-to-t from-white via-transparent to-transparent h-50"></div>
        <div class="text-black z-10 relative">
          <h3 class="title-main text-xl">Josh Graham</h3>

          <p>
            Director of Post-Production <br>
            <span class="text-sm">(Editing & Content Finishing)</span>
          </p>
        </div>
      </div>
      <!--
        <div class="lg:block hidden"></div>
        <div
          class="bg-cover bg-top p-4 hover:grayscale-0 flex flex-col justify-end grayscale hover:-translate-y-0.5 transition-all duration-300"
          style="background-image: url({{"team5.jpg" | asset_url}});"
        >
          <div class="absolute w-full bottom-0 left-0 bg-gradient-to-t from-white via-transparent to-transparent h-40"></div>
          <div class="text-black z-10 relative">
            <h3 class="title-main text-xl">Nina Valdez</h3>

            <p>Brand & Social Lead</p>
          </div>
        </div>
      -->
    </div>
  </div>
</div>
