<div class="md:py-20 py-10 md:h-screen relative">
  <img
    src="{{ 'bg-ellipse.png' | asset_url }}"
    alt="Vault Hero Image"
    class="w-[75%] h-[75%] object-contain absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-0"
  >
  <div class="container h-full z-10 relative">
    <div class="h-full w-full flex items-center gap-4 flex-col justify-center relative">
      <h2 class="font-oswald uppercase text-7xl md:text-[128px] font-bold md:py-0 py-10">The Vault</h2>
      <!-- CARD 1 -->
      <div class="bg-white text-black h-[250px] w-full md:w-[325px] p-6 md:left-0 md:top-40 md:absolute">
        <img
          src="{{ 'vault-icon1.png' | asset_url }}"
          alt="Vault Icon"
          class="w-auto h-14 mb-6"
        >

        <h3 class="title-main text-2xl mb-6">IgniteGuide</h3>
        <p class="text-lg">Social playbooks, brand templates</p>
      </div>

      <!-- CARD 2 -->
      <div class="bg-primary text-black h-[250px] w-full md:w-[325px] p-6 top-0 right-40 md:absolute">
        <img
          src="{{ 'vault-icon2.png' | asset_url }}"
          alt="Vault Icon"
          class="w-auto h-16 mb-4"
        >

        <h3 class="title-main text-2xl mb-6">IgniteIQ</h3>
        <p class="text-lg">ROI calculators, funnel checkers</p>
      </div>

      <!-- CARD 3 -->
      <div class="bg-primary text-black h-[250px] w-full md:w-[325px] p-6 bottom-0 left-40 md:absolute">
        <img
          src="{{ 'vault-icon3.png' | asset_url }}"
          alt="Vault Icon"
          class="w-auto h-14 mb-6"
        >

        <h3 class="title-main text-2xl mb-6">IgniteVault</h3>
        <p class="text-lg">Case studies, campaign decks</p>
      </div>

      <!-- CARD 4 -->
      <div class="bg-white text-black h-[250px] w-full md:w-[325px] p-6 right-0 bottom-40 md:absolute">
        <img
          src="{{ 'vault-icon4.png' | asset_url }}"
          alt="Vault Icon"
          class="w-auto h-14 mb-6"
        >

        <h3 class="title-main text-2xl mb-6">IgniteAudit</h3>
        <p class="text-lg">SEO & brand assessments</p>
      </div>
    </div>
  </div>
</div>
